div{
    background-color: yellow;
}
#b{
    margin-left: 100px;
    background-color: ;
}
#c
{
    margin-left: 100px;
}
#d
{
    margin-left: 100px;
}
#e
{
    margin-left: 100px;
}
#f
{
    margin-left: 250px;
    background-color: burlywood;
}
#s
{
    margin-left: 555px;
    display:inline-block;
}
h1
{
    text-align: center;
    padding: 5px;
    background-color: burlywood
}